@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prespeciveNess{
  perspective: 1000px;
}

.glass{
  filter: blur(.3);
  
  &:hover{
    box-shadow: 3 9  9px  rgba(128, 128, 128, 0.267);
    
  }
}

.input{
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.input label{
  font-weight: 400;
  font-size: large;
  color: rgb(211, 206, 206);
}

.input input,textarea{
  border: 1.3px solid rgba(128, 128, 128, 0.301);
  border-radius: 6px;
  padding: 3px;
  outline: none;
  width:100%;
  font-weight: lighter;
  min-width: 18rem;
  background: #e6e0e007;
}

.input textarea{
    height: 10rem;
    width: 100%;
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}